# Ambiente virtual
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Pytest
.pytest_cache/
htmlcov/
.coverage

# Variáveis de ambiente
.env
.env.*

# IDEs
.vscode/
.idea/

# SO
.DS_Store
Thumbs.db